@font-face {
  font-family: 'Cocogoose Pro trial';
  src: url('../fonts/Cocogoose\ Pro-trial.ttf');
}

body {
  margin: 0;
  padding: 0;
  font-family: 'lato', Arial, Helvetica, sans-serif;
  color: #272A31;
}

.position-up {
  position: relative;
  z-index: 2;
}

.link-style,
.link-style:hover {
  color: #111;
  text-decoration: none;
}

section h3 {
  margin: 0 auto;
  padding-top: 30px;
  font-size: 1.5rem;
}

section hr {
  width: 30px;
  border: 1px #EC5242 solid;
}

/*** navbar ****/
.link-style,
.link-style:hover {
  color: #272A31;
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-around;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
  position: relative;
  z-index: 2;
}

.logo-nav {
  width: 50px;
  margin-top: 10px;
}

.nav-options {
  display: flex;
  padding: 0;
  margin: 0 0 10px;
  list-style: none;
  align-items: flex-end;
}

.nav-options li {
  margin-right: 50px;
}

.nav-options a:hover {
  text-decoration: underline;
  color: #EC5242;
}

/*** landing section ***/
.landing-section {
  height: 100%;
  background: url("/images/about-landing.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
}

.white-layer {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
  z-index: 1;
}

.width-500 {
  width: 500px;
}

.hello {
  color: #EC5242;
  margin: 0 auto;
  font-size: 2rem;
}

.landing-section h2 {
  color: #EC5242;
  font-family: 'Cocogoose Pro trial', Arial, Helvetica, sans-serif;
  padding-top: 5%;
  margin: 0;
  font-size: 3rem;
}

.description {
  padding: 30px;
  margin: 30px auto;
  font-size: 1rem;
  text-align: justify;
  background: #eee;
  border: 3px #fff solid;
}

.contact {
  margin-top:10px;
  padding-bottom: 40px;
  font-size: 1.5rem;
}

/*** Logo ***/
.logo-section {
  text-align: center;
  margin-bottom: 40px;
}

.logo-description {
  margin: 30px auto;
}

.logo-section img {
  margin: 10px auto;
  height: 300px;
}

/*** last-competitions ***/
.last-competitions {
  text-align: center;
  background-color: #333;
  color: #fff;
}

.last-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.last-item {
  width: 30vw;
  height: 200px;
  margin: 20px;
  position: relative;
  border-radius: 10px;
}

.last-item:hover {
  border: 2px #D3D3D3 solid;
}

.last-item-1 {
  background: url("../images/last-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.last-item-2 {
  background: url("../images/last-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.last-description {
  color: #fff;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 900;
}

.last-description h2 {
  font-size: 3rem;
  margin: 0;
}

.last-description p {
  font-size: 1.2rem;
}

.orange-layer {
  border-radius: 10px;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(236, 82, 66, 0.5);
  z-index: 1;
}

/*** footer ***/
footer {
  background: #D3D3D3;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer * {
  margin: 20px;
}