body {
  margin: 0;
  padding: 0;
}

.position-up {
  position: relative;
  z-index: 2;
}

section h3 {
  margin: 0 auto;
  padding-top: 30px;
  font-size: 1.5rem;
}

section hr {
  width: 30px;
  border: 1px rgb(245, 169, 28) solid;
}

/*** navbar ****/
.link-style,
.link-style:hover {
  color: #111;
  text-decoration: none;
}
nav {
  display: flex;
  justify-content: space-around;
}

.logo-nav {
  width: 50px;
}

.nav-options {
  display: flex;
  padding: 0;
  list-style: none;
}

.nav-options li {
  margin-right: 30px;
}

/*** landing section ***/
.landing-section {
  height: 100vh;
  background: url("/images/bg-landing.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.white-layer {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.6);
  z-index: 1;
}

.width-500 {
  width: 500px;
}

.hello {
  padding-top: 10vh;
  margin: 0 auto 0 15vw;
  font-size: 2rem;
}

.landing-section h2 {
  margin: 0 auto 0 15vw;
  font-size: 3rem;
}

.description {
  padding: 10px;
  margin: 20px auto  auto 15vw;
  font-size: 1rem;
  background: rgb(230, 223, 223);
  border: 3px #fff solid;
}

.date {
  margin: 80px auto  0 15vw;
  font-size: 2.2rem;
}

.place {
  margin: 0 auto  0 15vw;
  font-size: 1.5rem;
}

/*** main program section ***/
.main-program {
  text-align: center;
  background: url("/images/main-program.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  position: relative;
}

.program-elements {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.program-elements article {
  margin: 5px;
  padding: 10px;
  width: 15%;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
}

.program-elements h4 {
  color: rgb(255, 94, 0);
  margin: 15px auto 5px;
}

.program-elements i {
  margin: 5px auto;
}

.all-program,
.all-program:hover {
  color: #fff;
  text-transform: uppercase;
}

.all-program-parent {
  padding-bottom: 20px;
}

.black-layer {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(1, 1, 1, 0.6);
  top: 0;
  z-index: 1;
}

/*** speakers ***/
.speakers {
  text-align: center;
  margin-bottom: 40px;
}

.speakers-container {
  display: flex;
  justify-content: center;
}

.speakers-elements {
  margin: 5px;
  width: 40%;
}

.speakers-elements article {
  text-align: start;
  display: flex;
  margin-bottom: 20px;
}

.speakers-elements img {
  width: 100px;
  height: 100px;
  border: 10px #111 solid;
  border-image:url("../images/pixal.jpg") 25 30 round;
  margin-right: 15px;
}

.speaker-name {
  font-size: 1.2rem;
}

.speaker-name,
.speaker-job,
.speaker-bio {
  margin: 0;
}

.speaker-info hr {
  margin-left: 0; 
}

.speaker-job {
  color: rgb(255, 72, 0);
}

/*** Partners ***/
.partners {
  text-align: center;
  background-color: #333;
  color: #fff;
}

.partners-list {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
}

.partner {
  width: 20%;
  background: transparent;
  margin: 10px;
}


footer {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer * {
  margin: 20px;
}